# git
.git
.git-lfs

# model artifacts (keep source files under tinynav/models)
tinynav/models/*.plan
tinynav/models/*.engine

# data
rosbag*
data
datasets

# python
.venv
**/__pycache__/
**/*.py[cod]

# build
build
dist
.buildx-cache*
