# git
.git
.git-lfs

# model artifacts (keep source files under tinynav/models)
tinynav/models/*.plan
tinynav/models/*.engine
tinynav/models/*.onnx

# data
rosbag*
data
datasets

# python
.venv
__pycache__

# build
build
dist
.buildx-cache*
